.horsemeat{
    font-style: italic;
}
.dogmeat {
    text-align: center;
    font-size: 50px;
}
.pig {
    font-size: 20px;
}
.redmeat {
    text-align: center;
    font-style: italic;
}
.suns {
    text-align: center;
}
